.contenedor{
  background-image: url("../IMAG/2022-04-09-umag.jpg");
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contenedorPrincipal{
  background: #000000cf;
  background: -webkit-linear-gradient(to left, #ffffff3c, #000000c6, #000000);
  background: linear-gradient(to left, #fffefe00, #000000b5,#000000e0,#000000e8,
            #000000ef, #000000);
}
.titulo{
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border-bottom: 1px solid white;
}
.columna{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  height: 100vh;
  text-align: center;
}
#login{
  background: linear-gradient(to left, #9a9a9a66, rgba(0, 0, 0, 0.652), rgba(0, 0, 0, 0.652), 
            rgba(0, 0, 0, 0.652), rgba(0, 0, 0, 0.652), rgba(0, 0, 0, 0.652), rgba(0, 0, 0, 0.652),
            rgba(0, 0, 0, 0.652), #9a9a9a66);
  border-radius: 25px;
  margin: 5vh 3vw;
  height: 70vh;
  border: 1px solid white; 
}
label{
  font-size: 4vh;
  color: aliceblue;
  margin-top: 10px;
}
input{
  border-radius: 10px;
  width: 22vw;
  margin: 50px 0px;
  max-width: 300px;
  min-width: 180px;
  height: 39px;
  text-align: center;
}
.btn{
  margin-top: 30px;
  width: 25%;
  min-width: 150px;
}
.error{
  height: 80px;
  margin-top: 40px;
}
p{
  color: rgb(255, 255, 255);
  padding: 0vh 4vw;
}
.terminos{
  margin-bottom: 20px;
}

